# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.HPC-BNUT-Backend.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects & Works\HPC\Code\HPC-BNUT-Backend\.idea\.idea.HPC-BNUT-Backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
